<cfoutput>
	<div class="hero">
	  <h2>Welcome to #getSubsystemConfig(getSubSystem()).name#</h2>
	  <p>Please use the top menu to access the administrator modules.</p>
	 </div>
	<div class="row-fluid">
	</div>
</cfoutput>
