//
// Custom less
// --------------------------------------------------

// General
// -------------------------
	.btn, textarea, input, button { &:focus { outline: none; } }
	body { padding-top: 70px; }
	.container { padding: 0 15px; }
	.table {
		.glyphicon:before { line-height: 20px; }
		* { vertical-align: middle!important; }
		th:last-child { text-align: center; }
	}

// Login
// -------------------------
	#form-signin {
		margin-top: 50px;
		h2 { margin-bottom: 25px; }
		.btn { margin-top: 50px; }
	}

	#form-add-user { margin-top: 40px; }
	#btn-add-user { margin: 10px 0 40px; }

@media screen and (max-width: 600px) {
	.container { padding: 0 10px; }
  	.table {
  		td { font-size: 65%; }
	  	td.comment {
	  		min-width: 100px;
	  		padding: 2px;
	  		font-size: 60%;
	  	}
	}
}