//
// Layouts
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

*,
*:after,
*:before {
	.box-sizing(border-box);
}

// Links
// -------------------------

	a {
		color: @link-color;
		text-decoration: none;
		.transition(~"all 0.3s ease");
	  	&:hover, &:active {
			color: @link-hover-color;
			text-decoration: none;
	  	}
	}

// Header
// -------------------------
	

// Container
// -------------------------
	