//
// Variables - Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 	#000000;
@gray:                  	#333333;
@grayLight:             	#757575;
@white:                 	#ffffff;


// Main Colors
// -------------------------
@bg-blue-dark:  			#34495e;
@bg-orange: 	 			#c34d41;
@bg-yellow: 	 			#dc8131;
@bg-red-dark: 	 			#a34050;


// Accent colors
// -------------------------
@blue:                  	#049cdb;
@blueDark:              	#0064cd;
@green:                 	#46a546;
@red:                   	#9d261d;
@yellow:                	#ffc40d;
@orange:                	#f89406;
@pink:                  	#c3325f;
@purple:                	#7a43b6;


// Scaffolding
// -------------------------
@body-bg:        			@white;
@text-color:             	@gray;


// Links
// -------------------------
@link-color:            	@blue;
@link-hover-color:      	darken(@link-color, 10%);


// Typography
// -------------------------
@font-family-helvetica:     Helvetica, Arial, sans-serif;


@font-size-base:          	24px;
@font-family-base:        	@font-family-helvetica;
@line-height-base:        	30px;

@font-size-base:          	14px;
@font-size-large:         	ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         	ceil(@font-size-base * 0.85); // ~12px
@font-size-mini:          	ceil(@font-size-base * 0.75); // ~11px

@line-height-base:        	1.428571429; // 20/14
@line-height-computed:    	floor(@font-size-base * @line-height-base); // ~20px

@headings-font-weight:    	500;
@headings-line-height:    	1.1;


// Component
// -------------------------
// Based on 14px font-size and 20px line-height

@padding-base-vertical:     8px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    14px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

@width-container: 			100%;
